<header>
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/dashboard"><button>Dashboard</button></a>
        <a href="/toxicComments"><button>View Toxic Comments</button></a>
        <a href="/login"><button>Login</button></a>
        <a href="/authGoogle/logout"><button>Logout</button></a>
    </nav>
</header>